html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#link{
  cursor:pointer;
  color:blue;
}

#bottombar-wrapper {
  z-index: 99;
  border-top: 2px solid darkgray;
  position: absolute;
  width: 100%;
  height: auto;
  overflow-y: auto;
  background: #fff;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#sidebar-wrapper {
  left:0;
  position: absolute;
  width: auto;
  height: 100%;
  overflow-y: auto;
  background: linear-gradient(to left,#eee,#fff);
}

#graph-wrapper {
  z-index: 100;
  padding-top: 10px;
  height: 100%;
  overflow-y: auto;
  background: #fff;
  position: absolute;
  right: 0;
  left: 0;
}

#main-wrapper {
  height: 100%;
  border-left: 2px solid darkgray;
  position: absolute;
  right: 0;
  left: 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#dark-overlay {
  z-index: 99;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#menu-btn {
  z-index: 300;
  left: 10px;
  top: 10px;
  position: absolute;
  border: 2px solid #ddd;
}

.graph {
  padding-bottom: 10px;
}

.graph:nth-of-type(even) {
  background: #eee;
}

#graphs {
  width: 100%;
}

.loading {
    position: fixed;
    margin: auto;
    left: 0; right: 0; top: 0; bottom: 0;
    width: 100px;
    height: 100px;
    display: none;
    z-index: 1000;
    /* The animation part: */
    animation: spin 1500ms infinite cubic-bezier(1,1,1,1);
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

