html {
  overflow-y:scroll;
}

body{
  //padding-top: 50px;
}

.pages {
  text-align: center;
  margin-top:25px;
  height: 100%;
  width: 100%;
  //max-width: 900px;
  //margin-left: auto;
  //margin-right: auto;
  background-color: #FFFFFF;
}

h2 {
    margin-top: 0;
}

h3 {
    margin-top: 15;
    margin-left: 15px;
    font-style: italic;
    font-size: 125%;
}


table, tr, th {
    vertical-align: top;
    max-width: 100%;
    border-collapse: collapse;
}

th {
    font-weight:normal;
    padding-right 25px
    min-width: 50px;
}

p {
    margin-left: 25px;
    margin-bottom: 25px;
}

.page {
  margin:0;
  padding:0;
  text-align: left;
  display: none;
}

.page.current {
  display: block;
}

.graph:nth-of-type(even) {
  background: #f3f3f3;
}

.loading {
    position: fixed;
    margin: auto;
    left: 0; right: 0; top: 0; bottom: 0;
    width: 100px;
    height: 100px;
    display: none;
    z-index: 1000;

    /* The animation part: */
    animation: spin 1500ms infinite cubic-bezier(1,1,1,1);
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
